@model AdvWebFinal.Models.Entities.Product

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <h1 class="text-center">Details</h1>

    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-title">Product</h4>
            <hr />

            <dl class="row">
                <dt class="col-sm-2">Id</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Id)</dd>

                <dt class="col-sm-2">Name</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>

                <dt class="col-sm-2">Description</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>

                <dt class="col-sm-2">Sell Price</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.SellPrice)</dd>

                <dt class="col-sm-2">Purchase Price</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.PurchasePrice)</dd>

                <dt class="col-sm-2">Stock</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Stock)</dd>

                <dt class="col-sm-2">Category</dt>
                <dd class="col-sm-10">
                    @foreach (var productCategory in Model.ProductCategory)
                    {
                        <p>@productCategory.Category.Name</p>
                    }
                </dd>

                <dt class="col-sm-2">Image</dt>
                <dd class="col-sm-10">
                    <img src="@Model.Image" alt="Product Image" class="img-fluid" style="max-width: 100px; max-height: 100px;" />
                </dd>
            </dl>

            <div class="row">
                <div class="col-sm-6">
                    <a asp-action="Update" asp-controller="Product" asp-route-id="@Model.Id" class="btn btn-info btn-block">Edit</a>
                    |
                    <a asp-action="AddCategory" asp-controller="Category" asp-route-id="@Model.Id" class="btn btn-info btn-block">Add Category</a>
                </div>

                <div class="col-sm-6">
                   
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <a asp-action="Index" asp-controller="Product" class="btn btn-secondary">Back to Product List</a>
    </div>
</div>
