@model List<Product>

@{
    ViewData["Title"] = "Search Products";
}

<h3>@ViewData["Title"]</h3>

<form asp-action="Search" method="get" class="mb-4">
    <div class="input-group">
        <input type="text" id="searchTerm" name="searchTerm" class="form-control" value="@ViewBag.SearchTerm" placeholder="Search Product...">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@product.Image" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">Description: @product.Description</p>
                    <p class="card-text">SellPrice: $@product.SellPrice</p>
                    <p class="card-text">PurchasePrice: $@product.PurchasePrice</p>
                </div>
            </div>
        </div>
    }
</div>
