@model IEnumerable<Category>

@{
    var product = (Product)ViewData["Product"];
    ViewData["Title"] = $"Add Category to Product: {product.Name}";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var category in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => category.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => category.Name)
                    </td>
                    <td>
                        <a asp-action="create" id="formAddProduct" asp-controller="ProductCategory"
                           asp-route-productId="@product.Id"
                           asp-route-categoryId="@category.Id">Add</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@section Scripts {
    <script defer type="module" src="~/js/addProductCategory.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}